body {
    font-family: "Times New Roman";
  }
  #top-img {
    vertical-align: middle;
  }
  #title {
    font-weight: bold;
    font-size: xx-large;
    color: #003399;
    padding-left: 10px;
    vertical-align: middle;
  }
  #middle {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    margin: 10px 0;
  }
  #left-nav {
    float: left;
    background-color: #cfcfff;
    margin: 10px 20px 5px 0;
  }
  #content {
    margin-left: 80px;
    padding-left: 30px;
  }
  #footer {
    clear: both;
    font-style: italic;
    font-size: small;
    text-align: right;
  }
  .nav {
    display: block;
    padding: 3px 10px 3px 5px;
  }
  .nav:link {
    color: navy;
    text-decoration: none;
  }
  .nav:visited {
    color: purple;
  }
  .nav:hover {
    color: red;
  }